@import "../../styles/variables";
@import "../../styles/globals";

.ContactSection {
    display         : flex;
    flex-direction  : column;
    width           : 100vw;
    height          : 700px;
    margin          : 0 auto;
    position        : relative;
    background-color: rgb(73,53,100);

    main{
        display         : flex;
        flex-direction  : row;
        vertical-align  : middle;
        height          : 100%;
        margin          : auto 0;

        // padding         : 0 10%;
    }
    .sketchy {
        margin         : 100px 20% 0 20%;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        height         : 60%;
        @media screen and (max-width: $width-xs) {
            margin         : 80px 5% 0 5%;

        }
        .left {
            width           : 100%;
            overflow-wrap: break-word;
        }

        .right {
            background-color: gray;
            width           : 100%;
            padding         : 20px;

            input[type=text],
            select,
            textarea {
                width        : 100%;
                padding      : 12px;
                border       : 1px solid #ccc;
                border-radius: 4px;
                box-sizing   : border-box;
                resize       : vertical;
            }

            .col-left {
                float     : left;
                width     : 25%;
                margin-top: 6px;
            }

            .col-right {
                float     : left;
                width     : 75%;
                margin-top: 6px;
            }

            .submit-button {
                float : right;
                height: 30px;
                width : 200px;
            }
            @media screen and (max-width: $width-md) {
                .col-left, .col-right, .submit-button {
                  width: 100%;
                  margin-top: 0;
                }
              }
        }
    }


    footer {
        background-color: black;
        color: white;
        opacity         : .7;
        height          : 110px;
        width           : 100%;
        position        : absolute;
        bottom          : 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: auto;
        div:nth-of-type(3n) {
            align-self: flex-end;
            padding-right: 30px;
        }
    }
}


.red {
    color: red;
}

.green {
    color: greenyellow;
}