@import "../../styles/variables";
@import "../../styles/globals";

.parallax-items:hover>img {
    animation        : bounce 2.5s infinite; //other browsers
    -webkit-animation: bounce 2.5s infinite; //webkit browsers
    -moz-animation   : bounce 2.5s infinite; //firefox
    -o-animation     : bounce 2.5s infinite; //opera
}

.item {
    display       : flex;
    flex-direction: column;
    position      : relative;
    align-items: center;
    text-align: center;
    margin             : 5px 5px;
    // border-right    : 1px solid black;
    background-color: #727272;
    // width              : 14vw;
    // height             : 100px;
    height: 30%;
    width: 15%;

    img {
        // height : 100%;
        // width: auto;
        object-fit: scale-down;
        height: 80px;
    }
    @media screen and (max-width: $width-md) {
        img {height: 70px;}
    }

    @media screen and (max-width: $width-sm) {
        img {height: 60px;}
    }

    @media screen and (max-width: $width-xs) {
        img {height: 50px;}
        height: 20%;
    width: 20%;
    }

    span {
        position        : absolute;
        margin          : 0 auto;
        align-self      : center;
        bottom          : 0;
        width           : 80%;
        border          : 1px solid black;
        background-color: white;
        border-radius   : 10%;
        opacity         : 0;
        pointer-events  : none;
    }

    span::after {
        content       : attr(data-content);
        text-transform: uppercase;

    }

    .smaller {
        transform          : scale(0.7);
        opacity            : .4;
        transition-duration: .5s;
    }

    .larger {}

    .neutral {
        transform          : scale(1);
        transition-duration: .5s;

    }
}

.item:hover {
    span {
        opacity            : 1;
        transition-duration: .5s;
    }
}

// .IconDj img{
//     opacity: 1;
//     -webkit-transition: opacity .5s;
//     -moz-transition: opacity .5s;
//     transition: opacity .5s;
// }
// .IconDj:hover > img {
//     opacity: 0.3;
//  }
// .Plx:hover > img{
//     animation: bounce 2.5s infinite;
//     -webkit-animation: bounce 2.5s infinite;
//     -moz-animation: bounce 2.5s infinite;
//     -o-animation: bounce 2.5s infinite;
//     opacity: 1;
//     -webkit-transition: opacity .5s;
//     -moz-transition: opacity .5s;
//     transition: opacity .5s;
//  }


@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-10px);
    }
}

@-moz-keyframes bounce {

    0%,
    100% {
        -moz-transform: translateY(0);
    }

    50% {
        -moz-transform: translateY(-10px);
    }
}

@-o-keyframes bounce {

    0%,
    100% {
        -o-transform: translateY(0);
    }

    50% {
        -o-transform: translateY(-10px);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

// .parallax-items {
//     opacity: 0;
// }