@import "../../styles/variables";
@import "../../styles/globals";

.item {
    flex-grow: 1;
    width: 50%;
    cursor: pointer;

}

.item:hover {
    color: $light-orange;
}
.item:hover::before {
    font-size: 15px;
    content:"< ";
}
.item:hover::after {
    font-size: 15px;
    content:" />";
}
