.ProjectItem {
    justify-self: center;
    margin          : 10px 20px;
    border   : 1px solid black;
    width           : 600px;
    height          : 280px;
    position: relative;
    overflow: hidden;

    .holder {
        display:flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.459);
        color: white;
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        left:0;
        pointer-events  : none;
        justify-content: center;
        
        .name-desc {
            opacity: 0;
            
        }
    }

    .projects {
        width: 600px !important;
        height: auto !important;
        background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
        background-size: cover;
        transition: 1s opacity;
        position: absolute;
        text-align: center;
        margin-right: auto;
        bottom: -70px;
        left: 0px;
        margin-left: auto;
        border: 1px solid #009;
        opacity: .9;
        z-index: 2;
    }
    // .description {
    //     border: black 2px solid;
    //     background: rgba(0, 0, 0, 0.459);
    //     color: white;
    //     position: absolute;
    //     z-index: 5;
    //     width: 100%;
    //     left:0;
    //     bottom:0;
    //     pointer-events  : none;

    // }
}

.ProjectItem.larger{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.678);
    transform: scale(1.05);
    transition-duration: .5s;
    .name-desc {
        opacity: 1;
    }
}
.ProjectItem.smaller {
    transform: scale(.95);
    opacity: .6;
    transition-duration: .5s;
}