@import "../../styles/variables";
@import "../../styles/globals";

.ProjectItem {
    justify-self: center;
    margin      : 10px 20px;
    // border      : 1px solid black;
    width       : 45%;
    // height      : 45%;
    position    : relative;
    overflow    : hidden;

    .card2 {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        // width: 100vw;
        margin: 10px;
        // height: 60%;

    }
    
    .card2:hover{
        box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
    }
    
    .card2-heading {
        padding: 2px 16px;
        background-color: blue;

    }
    .card2-body {
        padding: 2px 16px;
        background-color: blue;

    }
    .ReactCollapse--collapse {
        transition: height 500ms;
        background-color: blue;
        // bottom: -20px;
      }
}