a {
    text-decoration: none;
}


// Center HR with text over for section division
.centered-hr {
    width     : 100%;
    margin    : 5px auto;
    text-align: center;

    .hr-text {
        font-size: 40px;
        position : relative;
        border   : 0;
        height   : 1.5em;

        &:before {
            content   : '';
            background: linear-gradient(to right, transparent, white, transparent);
            position  : absolute;
            left      : 0;
            top       : 50%;
            width     : 100%;
            height    : 1px;
        }

        &:after {
            content : attr(data-content);
            position: relative;
            display : inline-block;
            color   : black;

            padding         : 0 .5em;
            line-height     : 1.5em;
            color           : $dark-orange;
            background-color: $heading-color;
        }
    }

    @media screen and (max-width: $width-sm) {
        .hr-text {
            font-size: 30px;
        }
    }

    @media screen and (max-width: $width-xs) {
        .hr-text {
            font-size: 25px;
        }
    }

    @media screen and (max-width: $width-xxs) {
        .hr-text {
            font-size: $heading-size-xxs;
        }
    }
}

.centered-hr-light {
    width     : 100%;
    margin    : 5px auto;
    text-align: center;

    .hr-text {
        font-size: $heading-size;
        position : relative;
        border   : 0;
        height   : 1.5em;

        &:before {
            content   : '';
            background: linear-gradient(to right, transparent, white, transparent);
            position  : absolute;
            left      : 0;
            top       : 50%;
            width     : 100%;
            height    : 1px;
        }

        &:after {
            content : attr(data-content);
            position: relative;
            display : inline-block;
            color   : black;

            padding         : 0 .5em;
            line-height     : 1.5em;
            color           : $dark-orange;
            background-color: $heading-color-light;
        }
    }

    @media screen and (max-width: $width-sm) {
        .hr-text {
            font-size: $heading-size-sm;
        }
    }

    @media screen and (max-width: $width-xs) {
        .hr-text {
            font-size: $heading-size-xs;
        }
    }

    @media screen and (max-width: $width-xxs) {
        .hr-text {
            font-size: $heading-size-xxs;
        }
    }
}



// Ocean waves for under heading
.heading {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    padding         : 10px 40px;
    height          : 100px;
    position        : relative;
    background-color: $heading-color;

    @media screen and (max-width: $width-sm) {
        height: 50px;
    }

    @media screen and (max-width: $width-xs) {
        height: 40px;
    }
}

.light {
    background-color: $heading-color-light;
}



span.highlighted-text {
    color: $dark-orange;
}

button {
    background-color: $dark-orange;
    border-radius   : 4px;
    border-color    : $dark-orange;
    font-size       : 20px;
    color           : black;
    padding         : 5px;
    cursor          : pointer;
    transition      : all 0.5s;
    text-align      : center;

    @media screen and (max-width: $width-sm) {
        font-size: 15px;
        padding  : 2px;
    }

    @media screen and (max-width: $width-xs) {
        font-size: 13px;
        padding  : 2px;
    }
}

a.link_button {
    background-color   : $dark-orange;
    border-radius      : 4px;
    // border-color    : $dark-orange;
    border-bottom   : 2px solid rgb(161, 105, 1);
    border-right  : 2px solid rgb(161, 105, 1);
    border-left : 2px solid $dark-orange;
    border-top: 2px solid $dark-orange;
    font-size          : 20px;
    color              : black;
    padding            : 10px 5px 10px 5px;
    cursor             : pointer;
    text-align         : center;
    margin             : auto;


    @media screen and (max-width: $width-sm) {
        font-size: 15px;
        padding  : 5px;
    }

    @media screen and (max-width: $width-xs) {
        font-size: 13px;
        padding  : 5px;
    }
}

a.link_button:focus {
    border-top   : 2px solid rgb(161, 105, 1);
    border-left  : 2px solid rgb(161, 105, 1);
    border-right : 2px solid $dark-orange;
    border-bottom: 2px solid $dark-orange;
}

.intro-text {
    font-size: 40px;
}

.sub-text {
    font-size: 25px;
}

.main-text {
    font-size: 20px;
}

.tech-bottom {
    font-size: 25px;
    // font-weight: bold;
}

.project-bottom {
    font-size: $main-size -5px;
    font-weight: bold;
    .multi {
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        font-size: $main-size - 5px;
        color: black;
    }
}


@media screen and (max-width: $width-md) {
    .intro-text {
        font-size: $intro-size - 10px;
    }

    .sub-text {
        font-size: $sub-size - 3px;
    }

    .main-text {
        font-size: $main-size - 2px;
    }

    .project-bottom {
        font-size: $main-size - 5px;
        .multi {
            font-size: $main-size - 7px;
        }
    }
    .tech-bottom {
        font-size: $sub-size - 3px;
    }
}

@media screen and (max-width: $width-sm) {
    .intro-text {
        font-size: $intro-size - 15px;
    }

    .sub-text {
        font-size: $sub-size - 7px;
    }

    .main-text {
        font-size: $main-size - 4px;
    }

    .project-bottom {
        font-size: $main-size - 7px;
        .multi {
            font-size: $main-size - 9px;
        }
    }
    .tech-bottom {
        font-size: $sub-size - 3px;
    }
}

@media screen and (max-width: $width-xs) {
    .intro-text {
        font-size: $intro-size - 20px;
    }

    .sub-text {
        font-size: $sub-size - 7px;
    }

    .main-text {
        font-size: $main-size - 6px;
    }

    .project-bottom {
        font-size: $main-size - 8px;
        .multi {
            font-size: $main-size - 10px;
        }
    }
    .tech-bottom {
        font-size: $sub-size - 5px;
    }
}

@media screen and (max-width: $width-xxs) {
    .intro-text {
        font-size: $intro-size - 20px;
    }

    .sub-text {
        font-size: $sub-size - 7px;
    }

    .main-text {
        font-size: $main-size - 8px;
    }

    .project-bottom {
        font-size: $main-size - 8px;
        .multi {
            font-size: $main-size - 10px;
        }
    }
    .tech-bottom {
        font-size: $sub-size - 5px;
    }
}

.section-border-r {
    border-right : $dark-orange 2px solid;
    border-bottom: $dark-orange 2px solid;
    padding      : 0 20px 5px 20px;
    text-align   : right;
}

.section-border-l {
    border-left  : $dark-orange 2px solid;
    border-bottom: $dark-orange 2px solid;
    padding      : 0 20px 5px 20px;
    text-align   : left;
}


@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
    }
}

@-moz-keyframes bounce {

    0%,
    100% {
        -moz-transform: translateY(0);
    }

    50% {
        -moz-transform: translateY(-5px);
    }
}

@-o-keyframes bounce {

    0%,
    100% {
        -o-transform: translateY(0);
    }

    50% {
        -o-transform: translateY(-5px);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}