@font-face {
    font-family: 'kgsecondchancessketch-kpap-webfont';
    src: url('../font/kgsecondchancessketch-kpap-webfont.woff2') format('woff2'),
         url('../font/kgsecondchancessketch-kpap-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$color-black: #000000;
$color-white: #ffffff;

$dark-blue: rgb(15, 17, 36);
// $light-blue: #2D3865;
$light-blue: #222B4C;
$light-blue-selected: rgb(29, 36, 65);
$dark-orange: #ff9f1c;
$light-orange: #ffbf69;
$light-phone: rgb(207, 207, 207);
$dark-phone: rgb(150, 150, 150);

$heading-color: $dark-blue;
$heading-color-light: $light-blue;

$width-xs: 580px;
$width-sm: 768px;
$width-md: 1100px;
$width-lg: 1440px;

$heading-size: 40px;
$heading-size-sm: 30px;
$heading-size-xs: 25px;
$intro-size: 40px;
$sub-size: 25px;
$main-size: 20px;

$sketch-font: 'kgsecondchancessketch-kpap-webfont', Arial, sans-serif;