

$color-black: #000000;
$color-white: #ffffff;

$dark-blue: #2ec4b6;
$light-blue: #cbf3f0;
$dark-orange: #ff9f1c;
$light-orange: #ffbf69;

$brand-black: #111;
$brand-red: #F72E2E;
$brand-gray01: #676968;
$brand-gray03: #939393;
$brand-gray04: #c2c2c2;
$brand-gray05: #e5e5e5;

$link-default: $dark-orange;
$link-hover: $light-blue;
$link-danger: $brand-red;

$width-xs: 580px;
$width-sm: 768px;
$width-md: 1100px;
$width-lg: 1440px;

