.AboutSection {
    display:flex;
    flex-direction: column;
    width: 100vw;
    height: 800px;
    margin: 0 auto;
    background-color:grey;
    position: relative;
    // overflow-x: hidden;
    main {
        display:flex;
        flex-direction: column;
        background-color: pink;
        vertical-align: middle;
        height:100%;
        // padding: 10%;
    }
    .about-text {
        background-color: aqua;
        vertical-align: center;
        margin: auto 10%;
        position:relative;

        .parallax-top {
            position:absolute;
            opacity: 0;
            top: -200px;
        }
    }
}

.endpoint {
    position: absolute;
    bottom: 0px;
}

.halfpoint {
    background-color: green;
}

