@import "../../styles/variables";
@import "../../styles/globals";

.TechSection {
    display         : flex;
    flex-direction  : column;
    width           : 100vw;
    max-width       : 100%;
    height          : 800px;
    margin          : 0 auto;
    position        : relative;
    background-color: $light-blue;
    @media screen and (max-width: $width-sm) {
        height: 1000px;
    }
    main {
        display       : flex;
        flex-direction: column;
        height        : 100%;
        text-align: left;
        margin         : 0 3%;
        .section-border-r {
            width: 40%;
        }
        .section-border-l {
            width: 40%;
            align-self: flex-end;
        }
    }
}


.TechSection span {
    display: inline;
}


.stack-container {
    display        : inline-flex;
    flex-wrap      : wrap;
    border         : 1px solid black;
    background-color: $dark-blue;
    flex-direction : row;
    margin         : auto;
    width          : 100%;
    height: 100%;
    justify-content: center;

    @media screen and (max-width: $width-xs) {
        width: 90%;
    }

    // .parallax-items {
    //     opacity: 0;
    // }

    // .item {
    //     margin             : 5px 5px;
    //     // border-right    : 1px solid black;
    //     background-color: #727272;
    //     width              : 14vw;
    //     height             : 132px;

    //     // @media screen and (max-width: $width-md) {
    //     //     width : 165px;
    //     //     height: 100px;
    //     // }

    //     // @media screen and (max-width: $width-sm) {
    //     //     width : 124px;
    //     //     height: 100px;
    //     // }

    //     // @media screen and (max-width: $width-xs) {
    //     //     width : 100px;
    //     //     height: 100px;
    //     // }
    // }

    .start-row {
        background-color: green;
    }

    .end-row {
        background-color: green;
    }

}

.knowledge-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media screen and (max-width: $width-sm) {
        flex-direction: column;
    }
}