@import "../../styles/variables";
@import "../../styles/globals";

.TechSection {
    display         : flex;
    flex-direction  : column;
    width           : 100vw;
    max-width       : 100%;
    height          : 800px;
    margin          : 0 auto;
    position        : relative;
    background-color: $dark-blue;


    main {
        display        : flex;
        flex-direction : row;
        vertical-align : middle;
        justify-content: space-between;
        height         : 100%;
        margin         : 0 3%;

        .left {
            height        : 100%;
            width         : 100%;
            display       : flex;
            flex-direction: row;
            flex-wrap     : wrap;
            align-items   : flex-start;

            .laptop {
                height             : 90%;
                width              : 90%;
                background-image   : url("../../images/lapcup.png");
                background-position: center;
                background-size    : contain;
                background-repeat  : no-repeat;

                div {
                    height             : 100%;
                    width              : 100%;
                    background-position: center;
                    background-size    : contain;
                    background-repeat  : no-repeat;
                    transition         : .08s all;
                }

                .VSCode {
                    background-image: url("../../images/icons/vscode.png");
                }

                .CSS {
                    background-image: url("../../images/icons/css.png");
                }

                .Django {
                    background-image: url("../../images/icons/dj.png");
                }

                .Git {
                    background-image: url("../../images/icons/git.png");
                }

                .HTML {
                    background-image: url("../../images/icons/html.png");
                }

                .Javascript {
                    background-image: url("../../images/icons/js.png");
                }

                .MongoDB {
                    background-image: url("../../images/icons/mongo.png");
                }

                .NodeJS {
                    background-image: url("../../images/icons/nodejs.png");
                }

                .Postgresql {
                    background-image: url("../../images/icons/postgresql.png");
                }

                .Python {
                    background-image: url("../../images/icons/python.png");
                }

                .React {
                    background-image: url("../../images/icons/react.png");
                }

                .SASS {
                    background-image: url("../../images/icons/sass.png");
                }

                .AWS {
                    background-image: url("../../images/icons/aws.png");
                }

                .Java {
                    background-image: url("../../images/icons/java.png");
                }

                .Photoshop {
                    background-image: url("../../images/icons/photoshop.png");
                }
            }
        }

        .right {
            height        : 100%;
            width         : 100%;
            display       : flex;
            flex-direction: column;
        }


        // @media screen and (max-width: $width-sm) {
        //     flex-direction  : row;
        // }
        @media screen and (max-width: $width-md) {
            flex-direction: row;

            .left .laptop {
                width: 100%;
            }

            .right .section-border-l {
                width: 100%;
            }
        }

        @media screen and (max-width: $width-sm) {
            flex-direction: column;
            margin        : 0;

            .left .laptop {
                margin: 0 auto;
                width : 90%;
            }

            .right .section-border-l {
                padding-top: 5%;
                margin     : 0 auto;
                width      : 80%;
            }
        }

        @media screen and (max-width: $width-xs) {
            flex-direction: column;
            margin        : 0;

            .left .laptop {
                margin: 0 auto;
                width : 90%;
            }

            .right .section-border-l {
                margin: 0 auto;
                width : 80%;
            }
        }

    }
}